.dataViewerWrapper {
  height: 100vh;
  width: 500px;
  position: fixed;
  top: 0;
  right: 0;
  pointer-events: none;
}

.dataViewerContent {
  background-color: black;
}

.visible {
  opacity: 1;
}

.invisible {
  opacity: 0;
}
